#aboutSection {
    background-image: radial-gradient(red, orange, yellow, green, blue, purple);
    height: 600px;
}

#aboutSection > * {
    top: 100px
}

#aboutImage {
    padding-left: 12%;
    padding-top: 100px;
}

#aboutImage > img {
    height: 400px;
    position:absolute;
}

#aboutImage > img:hover {
    height: 500px;
}

img:hover {
    filter: drop-shadow(16px 16px 20px red) invert(75%);
}

#aboutDescription {
    right: 10%;
    width: 20%;
    position: absolute;
    border-style: solid;
    text-align: center;
    padding: 16px;
}

#aboutDescription a {
    color: inherit;
    text-decoration: none; /* no underline */
}