nav {
    background-color: wheat;
    border-style: solid;
}

.NavBarLinks {
    position: absolute;
    display: flex;
}

.NavBarLinks a {
    color: inherit;
    text-decoration: none; /* no underline */
}

#navBarHeader {
    margin: 10px;
    top: 0;
    text-align: center;
}